<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-group">
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message, class: "form-control"  %>
  </div>
  </div>
   <div class="form-group">
 
    <%= f.submit "ASK US", class:"btn btn-primary" %>
 
  </div>
<% end %>
