

<div class="jumbotron">

<h1 style="color:black ;">AsK Any QUESTIONS </h1>
<h2 style="color:black ;">GET ANSWERS FROM EVERYONES</h2>
</div>
<div class="black">
  <div class="center"><h3 class="current-category" style="color:blue" > <%= params[:category] %></h3></div>
  
  <% if @posts.count== 0 %>

  <h3> There are  no posts currently for that category </h3>

  <%else%>

<p id="notice"><%= notice %></p>
<p>  Login in to become a member 
and post your question</p>
<p> </p>

<div class="col-md-8 col-md-offset-3">

  <div class="form">
<%= render 'form' %>
</div>
</div>
<br>


  
<div class="col-md-8 col-md-offset-3">

  <div class="form">
<div class="row">

    <% @posts.each do |post| %>
  <div class="col-md-8">
   <p class="current-category" style="color:blue" >Category: <%=post.category.name %> </p>
    <%= post.message %><br>
    <% if (user_signed_in?) && (current_user==post.user) %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-link" %>
     <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
    
    
     <%end %>
    <%=link_to like_post_path(post), method: :put, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-heart"></span>
  Like
  <%= post.get_upvotes.size %>
     <% end %>
  
  <b><p> Posted <%= time_ago_in_words(post.created_at) %> by <%= post.user.name %></p></b>
  <%= link_to " Comment", new_post_comment_path(post) , class: "btn btn-default" %>
  <%= render  post.comments.limit(10).order("created_at DESC") %>
   
   <br>
    
     <b><hr class="hr" ></hr></b>
  </div>

  <% end %>
  </div>
  </div>
</div>
</div>
<% unless @posts.empty? %>

<nav>
  <ul class="pager">
   <b> <li class="previous " <%=will_paginate @posts%> <span aria-hidden="true">&larr;</li>
   
  </ul>
</nav>
<% end %>
<% end %>








